name: image
on:
  push:
    tags:
    - '*'
jobs:
  build-image:
    runs-on: ubuntu-latest
    env:
      EXTRA_TAGS:
    steps:
    - name: Configure envvars
      run: |
        GIT_TAG="${GITHUB_REF#refs/tags/}"
        TAGS=$(
          for repository in quay.io/jcmoraisjr; do
            for project in modsecurity-spoa; do
              for tag in "$GIT_TAG" ${{ env.EXTRA_TAGS }}; do
                echo -n "${repository}/${project}:${tag},"
              done
            done
          done
        )
        echo "GIT_TAG=$GIT_TAG" >> $GITHUB_ENV
        echo "TAGS=$TAGS" >> $GITHUB_ENV
    - uses: actions/checkout@v3
    - uses: docker/login-action@v2 
      with:
        registry: docker.io
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - uses: docker/login-action@v2 
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_USERNAME }}
        password: ${{ secrets.QUAY_TOKEN }}
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v2
    - uses: docker/build-push-action@v4
      with:
        context: rootfs
        platforms: linux/amd64,linux/arm64/v8,linux/arm/v7
        push: true
        tags: ${{ env.TAGS }}
