name: Test
on:
  push:
    branches:
    - master
  pull_request:
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Run
      run: |
        cd test
        ./run.sh
